* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  background-image: linear-gradient(
                  to right,
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)), url("./images/screenshots/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    color: white;
  }

  .play-button {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    background-color: red;
    border-radius: 10px;
    padding: 15px 25px;
    border: none;
    transition-duration: 300ms;

    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .play-button:hover,
  .play-button:active {
    background-color: #ab1818;
  }
}

.screenshots {
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    text-align: center;
    margin: 10px 0;
  }

  img {
    width: 90%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }
}

.launch {
  p {
    text-align: center;
    margin: 25px 0;
  }
  .play-button {
    width: 200px;
    margin: 0 auto;

    background-color: red;
    border-radius: 10px;
    padding: 15px 25px;
    border: none;
    transition-duration: 300ms;

    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .play-button:hover,
  .play-button:active {
    background-color: #ab1818;
  }
}

.about {
  padding: 20px 30px 10px;

  background-color: #8686da;

  p {
    text-align: center;
  }

  p,
  a {
    color: white;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    transition-duration: 200ms;
  }

  a:hover,
  a:active {
    color: darkred;
  }
}
