$height: 100px;

@keyframes bomb {
  from {
    top: -$height;
  }
  to {
    top: 350px;
  }
}

.bomb {
  position: absolute;
  z-index: 1;
  animation-name: bomb;
  height: $height;
}

.bomb.left {
  left: 90px;
}

.bomb.right {
  right: 90px;
}
