* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$background-image: "./assets/images/background.jpg";

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url($background-image);
  background-position: center;
  background-size: auto 100%;
}
